.response {
  font-size: 4.8em;
  line-height: 1.1;
}

small {
  font-size: 20%;
}

.running {
  color: rgb(26, 152, 80);
}

.not-running {
  color: rgb(244, 109, 67);
}

.explanation {
  font-size: 2em;
}

.logo {
  height: 3.2em
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(26, 152, 80);
}

.button-error {
    background: rgb(244, 109, 67);
    /* this is a maroon */
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  margin: 2.4em;
  font-size: 125%;
  font-weight: bold;
}



#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
